<div class="transactions">
  <div class="card transactions-make-payment">
    <div class="card-header">
      <span class="card-header__icon"
        ><i class="fa fa-exchange" aria-hidden="true"></i
      ></span>
      <span class="card-header__text">Make a Transfer</span>
    </div>
    <div class="card-body">
      <app-make-transaction></app-make-transaction>
    </div>
  </div>

  <div class="card transactions-history">
    <div class="card-header big">
      <span class="card-header__icon"
        ><i class="fa fa-suitcase" aria-hidden="true"></i
      ></span>
      <span class="card-header__text">Recent Transactions</span>
    </div>
    <div class="card-body">
      <app-transactions-history></app-transactions-history>
    </div>
  </div>
</div>
