.preview {
  font-size: 14px;
  font-weight: 500;
  margin: 1em 0;

  .heading {
    font-size: 18px;
    font-weight: 500;
  }

  .row {
    display: flex;
    margin-bottom: 5px;

    > div {
      flex: 1 1 50%;
    }

    .value {
      font-weight: 300;
    }
  }

  .button-container {
    text-align: right;
  }
}
